@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
@using System.IO;
@using System.Net;
@using Newtonsoft.Json;

<div>
    <h1>Noah's 5e Character Generator</h1>
    <p class="lead">Choose the type of person you want, and we'll give them to you!</p>
</div>

@functions{
    private static Dictionary<string, dynamic> LoadAPI(string url)
    {
        WebRequest request = WebRequest.Create("https://www.dnd5eapi.co/api/" + url);
        request.Method = "GET";
        using var webStream = request.GetResponse().GetResponseStream();

        using var reader = new StreamReader(webStream);
        var data = reader.ReadToEnd();
        return JsonConvert.DeserializeObject<Dictionary<string, dynamic>>(data);
    }
}



<!--Dropdowns allowing for user to customize the character geenrator utilizing D&D 5e API-->
<div class="container-fluid">
    <div class="row">
        <div class="col-3">
            <p>Select the character's Race:</p>
            <select id="SelectRace">
                @foreach (var race in LoadAPI("races")["results"])
                {
                    <option>@race["name"]</option>
                }
            </select>
        </div>

        <div class="col-3">
            <p>Select the character's class:</p>
            <select id="SelectClass">
                @foreach (var dndClass in LoadAPI("classes")["results"])
                {
                    <option>@dndClass["name"]</option>
                }
            </select>
        </div>

        <div class="col-3">
            <p>Select the character's subclass:</p>
            <select id="SelectSubClass">
                @foreach (var subClass in LoadAPI("subclasses")["results"])
                {
                    <option>@subClass["name"]</option>
                }
            </select>
        </div>

        <div class="col-3">
            <p>Select the Character's Level:</p>
            <select id="SelectLevel">
                @for (int i = 1; i <= 20; i++)
                {
                    <option>@i</option>
                }
            </select>
        </div>

        <div class="col-3">
            <p>Select the Character's background:</p>
            <select id="SelectBackG">
                @foreach (var backG in LoadAPI("backgrounds")["results"])
                {
                    <option>@backG["name"]</option>
                }
            </select>
        </div>

        <div class="row">
            <div class="col-3">
                <p>Select the Character's Allignment:</p>
                <select id="SelectRace">
                    <option>Lawful-Good</option>
                    <option>Neutral-Good</option>
                    <option>Chaotic-Good</option>
                    <option>Lawful-Neutral</option>
                    <option>True Neutral</option>
                    <option>Chaotic Neutral</option>
                    <option>Lawful-Evil</option>
                    <option>Neutral-Evil</option>
                    <option>Chaotic-Evil</option>
                </select>
            </div>
        </div>
    </div>
</div>

<input id="submit" type="button" value="Create Character" />
